---
http_interactions:
- request:
    method: post
    uri: https://identity.openlive.co/connect/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=tenant
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <BASIC_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Tue, 23 Aug 2016 08:54:22 GMT
recorded_with: VCR 3.0.3
